{% load staticfiles %} <!-- 模板标签加载静态文件路径 -->
<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="/static/{% static 'backstage/images/user.png'%}" alt="">{{ user }}
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li>
              <a href="javascript:;">
                <span>设置</span>
              </a>
            </li>
            <li><a href="javascript:;">帮助</a></li>
            <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i>注销</a></li>
          </ul>
        </li>

        <li role="presentation" class="dropdown">
          <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-envelope-o"></i>
            <span class="badge bg-green">6</span>
          </a>
          <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
            <li>
              <a>
                <span>
                  新询问：<span>John Smith</span>
                  <span class="time">3 mins ago</span>
                </span>
                <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                </span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>