{% load staticfiles %} <!-- 模板标签加载静态文件路径 -->
<div class="row">
    <div class="col-md-4">
      <div class="x_panel">
        <div class="x_title">
          <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">热门资料 </font></font><small>Sessions</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Settings 1</a>
                </li>
                <li><a href="#">Settings 2</a>
                </li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <article class="media event">
            <a class="pull-left date">
              <p class="month"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">四月</font></font></p>
              <p class="day"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">23</font></font></p>
            </a>
            <div class="media-body">
              <a class="title" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">第一项标题</font></font></a>
              <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dolor坐下来，精致的adipistur elit。</font></font></p>
            </div>
          </article>
          <article class="media event">
            <a class="pull-left date">
              <p class="month"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">四月</font></font></p>
              <p class="day"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">23</font></font></p>
            </a>
            <div class="media-body">
              <a class="title" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">第二项标题</font></font></a>
              <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dolor坐下来，精致的adipistur elit。</font></font></p>
            </div>
          </article>
          <article class="media event">
            <a class="pull-left date">
              <p class="month"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">四月</font></font></p>
              <p class="day"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">23</font></font></p>
            </a>
            <div class="media-body">
              <a class="title" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">第二项标题</font></font></a>
              <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dolor坐下来，精致的adipistur elit。</font></font></p>
            </div>
          </article>
          <article class="media event">
            <a class="pull-left date">
              <p class="month"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">四月</font></font></p>
              <p class="day"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">23</font></font></p>
            </a>
            <div class="media-body">
              <a class="title" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">第二项标题</font></font></a>
              <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dolor坐下来，精致的adipistur elit。</font></font></p>
            </div>
          </article>
          <article class="media event">
            <a class="pull-left date">
              <p class="month"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">四月</font></font></p>
              <p class="day"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">23</font></font></p>
            </a>
            <div class="media-body">
              <a class="title" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">第三项标题</font></font></a>
              <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dolor坐下来，精致的adipistur elit。</font></font></p>
            </div>
          </article>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="x_panel">
        <div class="x_title">
          <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">热门资料 </font></font><small>Sessions</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Settings 1</a>
                </li>
                <li><a href="#">Settings 2</a>
                </li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <article class="media event">
            <a class="pull-left date">
              <p class="month"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">四月</font></font></p>
              <p class="day"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">23</font></font></p>
            </a>
            <div class="media-body">
              <a class="title" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">第一项标题</font></font></a>
              <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dolor坐下来，精致的adipistur elit。</font></font></p>
            </div>
          </article>
          <article class="media event">
            <a class="pull-left date">
              <p class="month"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">四月</font></font></p>
              <p class="day"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">23</font></font></p>
            </a>
            <div class="media-body">
              <a class="title" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">第二项标题</font></font></a>
              <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dolor坐下来，精致的adipistur elit。</font></font></p>
            </div>
          </article>
          <article class="media event">
            <a class="pull-left date">
              <p class="month"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">四月</font></font></p>
              <p class="day"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">23</font></font></p>
            </a>
            <div class="media-body">
              <a class="title" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">第二项标题</font></font></a>
              <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dolor坐下来，精致的adipistur elit。</font></font></p>
            </div>
          </article>
          <article class="media event">
            <a class="pull-left date">
              <p class="month"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">四月</font></font></p>
              <p class="day"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">23</font></font></p>
            </a>
            <div class="media-body">
              <a class="title" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">第二项标题</font></font></a>
              <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dolor坐下来，精致的adipistur elit。</font></font></p>
            </div>
          </article>
          <article class="media event">
            <a class="pull-left date">
              <p class="month"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">四月</font></font></p>
              <p class="day"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">23</font></font></p>
            </a>
            <div class="media-body">
              <a class="title" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">第三项标题</font></font></a>
              <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dolor坐下来，精致的adipistur elit。</font></font></p>
            </div>
          </article>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="x_panel">
        <div class="x_title">
          <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">热门资料 </font></font><small>Sessions</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Settings 1</a>
                </li>
                <li><a href="#">Settings 2</a>
                </li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <article class="media event">
            <a class="pull-left date">
              <p class="month"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">四月</font></font></p>
              <p class="day"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">23</font></font></p>
            </a>
            <div class="media-body">
              <a class="title" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">第一项标题</font></font></a>
              <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dolor坐下来，精致的adipistur elit。</font></font></p>
            </div>
          </article>
          <article class="media event">
            <a class="pull-left date">
              <p class="month"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">四月</font></font></p>
              <p class="day"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">23</font></font></p>
            </a>
            <div class="media-body">
              <a class="title" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">第二项标题</font></font></a>
              <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dolor坐下来，精致的adipistur elit。</font></font></p>
            </div>
          </article>
          <article class="media event">
            <a class="pull-left date">
              <p class="month"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">四月</font></font></p>
              <p class="day"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">23</font></font></p>
            </a>
            <div class="media-body">
              <a class="title" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">第二项标题</font></font></a>
              <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dolor坐下来，精致的adipistur elit。</font></font></p>
            </div>
          </article>
          <article class="media event">
            <a class="pull-left date">
              <p class="month"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">四月</font></font></p>
              <p class="day"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">23</font></font></p>
            </a>
            <div class="media-body">
              <a class="title" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">第二项标题</font></font></a>
              <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dolor坐下来，精致的adipistur elit。</font></font></p>
            </div>
          </article>
          <article class="media event">
            <a class="pull-left date">
              <p class="month"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">四月</font></font></p>
              <p class="day"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">23</font></font></p>
            </a>
            <div class="media-body">
              <a class="title" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">第三项标题</font></font></a>
              <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dolor坐下来，精致的adipistur elit。</font></font></p>
            </div>
          </article>
        </div>
      </div>
    </div>
</div>